body {
    width: 600px;
    text-align: center;
    font-size: 14px;
}

.github-link {
    width: auto;
    /* text-align: center; */
    display: flex;
    align-items: center;
    flex-direction:row;
}
