:root {
  --custom-white: #dddddd;
  --custom-dark-background: #373737;
  --custom-dark-secondary: #616161;
  --custom-dark-thirdly: #737373;
  --custom-text-white: #dddddd;
  --custom-text-white-secondary: #d0d0d0;
  --custom-text-black: #373737;
  --custom-gw-primary: #3a051f;
}

/* 기본 백그라운드 */
.py-5, .py-4 {
  background-color: var(--custom-dark-background) !important;
}

/* 상단 바 */
.bg-top {
  /* background-color: #1A0209 !important; */
}

.bg-menu {
  background-color: var(--custom-dark-secondary) !important;
}

/* 상단 바 메뉴들 */
.depth02ul li a {
  color: var(--custom-text-white) !important;
}
.depth03ul li a {
  color: var(--custom-text-white-secondary) !important;
}
.title-text {
  color: var(--custom-text-white);
}

/* 스케줄 테이블 */
table.scheduletb td p {
  color: var(--custom-dark-secondary)!important;
}
table.scheduletb th, table.scheduletb td.time {
  color: var(--custom-text-white) !important;
}

/* 수강과목 */
.subjectlist .left span {
  color: var(--custom-text-white-secondary) !important;
}

.subjecttypenotice li span.day {
  color: var(--custom-text-white-secondary) !important;
}

/* 캔버스 (chart.js) */
canvas {
  background-color: var(--custom-white) !important;
}

/* 일반 테이블 */
.tablegw {
  background-color: var(--custom-dark-secondary) !important;
}

.popover-content {
  background-color: var(--custom-dark-thirdly) !important;
  border: 1px solid var(--custom-dark-secondary) !important;
}
.tablegw td, .tablegw th {
  background: var(--custom-dark-secondary) !important;
  color: var(--custom-text-white) !important;
}

.c-title {
  color: var(--custom-text-white) !important;
}

.board_write_form dl * {
  color: var(--custom-text-white) !important;
}

.board_notice * {
  color: var(--custom-text-white-secondary) !important;
}

.board_viewfile * {
  color: var(--custom-text-black) !important;
}

.next_prev_box dt {
  color: var(--custom-text-white) !important;
}

.next_prev_box dd {
  color: var(--custom-text-white-secondary) !important;
}

/* 외부 글쓰기 iframe */
.se2_input_area {
  background-color: var(--custom-white) !important;
}


.c-day-content {
  color: var(--custom-text-white) !important;
}

#no-deadline span {
  color: var(--custom-text-white-secondary) !important;
}
#yes-deadline * {
  color: var(--custom-text-white-secondary);
}
#appSelectSubj .aC {
  color: var(--custom-text-white-secondary) !important;
}



/* 하위 컴포넌트 */
.card {
  background-color: var(--custom-dark-thirdly) !important;
}
.oval {
  background-color: var(--custom-dark-thirdly) !important;
  color: var(--custom-text-white) !important;
}

.mb-4 {
  background-color: var(--custom-dark-secondary) !important;
}
.mb-4 span:not(.anticon), .mb-4 a, .mb-4 p, .mb-4 li{
  color: var(--custom-text-white);
}
.mb-4 table thead tr td, .mb-4 table thead tr th {
  color: var(--custom-text-white);
}
.mb-4 table tbody:not(.ant-table-tbody) tr td, .mb-4 table tbody:not(.ant-table-tbody) tr th, .mb-4 table thead:not(.ant-table-thead) tr td, .mb-4 table thead:not(.ant-table-thead) tr th {
  background-color: var(--custom-dark-thirdly) !important;
  color: var(--custom-text-white-secondary);
}


/* 버튼 */
.btn-gray {
  border: 1px solid #fff !important;
}

.remain-none, .remain-none * {
  color: #ABFA8E !important;
}

.remain-today, .remain-today * {
  color: #FF7371 !important;
}

.remain-hour, .remain-hour * {
  color: #FF7371 !important;
  font-weight: bolder !important;
}

.remain-soon, .remain-soon * {
  color: #FF7371 !important;
  font-weight: bold !important;
}



/* Ant Design */
.ant-card {
  background-color: #141414;
  border: 1px solid #303030;
  color: white;
}

.ant-select {
  .ant-select-selector {
    background-color: #141414 !important;
    border-color: #424242 !important;
  }

  &.ant-select-open {
    .ant-select-selection-item {
      color: rgba(255, 255, 255, 0.25);
    }
  }
}

.ant-select-dropdown {
  background-color: #1f1f1f;

  .ant-select-item {
    color: rgba(255, 255, 255, 0.85) !important;

    &.ant-select-item-option-active {
      background-color: rgba(255, 255, 255, 0.08);
    }

    &.ant-select-item-option-selected {
      background-color: #111a2c;
    }
  }
}

.ant-radio-wrapper {
  .ant-radio-inner {
    background-color: #141414 !important;
    border-color: #424242 !important;
  }

  &.ant-radio-wrapper-checked {
    .ant-radio-inner {
      background-color: #1668dc !important;
      border-color: #1668dc !important;
    }
  }

  &:hover {
    .ant-radio-inner {
      border-color: #1668dc !important;
    }
  }
}

.ant-input {
  background-color: #141414;
  border-color: #424242;
  color: rgba(255, 255, 255, 0.85);
}

.ant-table {
  background-color: #141414 !important;

  .ant-table-container {
    border-color: #303030 !important;
  }

  th {
    background-color: #1d1d1d !important;
    border-color: #303030 !important;
    color: rgba(255, 255, 255, 0.85) !important;
  }

  .ant-table-tbody {
    td {
      border-color: #303030 !important;
    }

    tr:not(.helper-missing):not(.helper-closed) {
      td {
        color: rgba(255, 255, 255, 0.85) !important;
      }
    }

    .ant-table-cell-row-hover {
      background-color: #1d1d1d !important;
    }
  }

  .ant-table-placeholder {
    background-color: #1d1d1d !important;
    color: rgba(255, 255, 255, 0.85) !important;

    &:hover {
      td {
        background-color: #1d1d1d !important;
      }
    }
  }
}

.ant-rate {
  .ant-rate-star-second {
    color: rgba(255, 255, 255, 0.12);
  }
}

.ant-empty {
  color: rgba(255, 255, 255, 0.25) !important;

  .ant-empty-description {
    color: rgba(255, 255, 255, 0.25);
  }
}

.helper-missing {
  background-color: #333 !important;
  color: #888 !important;

  td {
    color: #888 !important;
  }
}

.helper-closed {
  background-color: #552222 !important;
  color: #ff5555 !important;

  td {
    color: #ff5555 !important;
  }
}
