.helper-form {
  .helper-title {
    margin-bottom: 4px;
    font-weight: bold;
  }

  .helper-control {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 32px;
  }
}

.helper-table {
  th {
    white-space: pre-line;
  }

  tbody {
    tr.ant-table-row {
      cursor: pointer;
    }

    td {
      font-weight: normal;
    }
  }

  .helper-missing {
    background-color: #f5f5f5;
    color: gray;
  }

  .helper-closed {
    background-color: #fef2f2;
    color: red;
  }

  .helper-rate {
    font-size: 14px;

    li {
      margin: 0 !important;
      cursor: pointer !important;
    }
  }
}
